* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: whitesmoke;
}

.post-body {
    background-color: slategrey;
}

.red {
    color: red;
}

.black {
    color: black;
}

.delete-form {
    border: solid rgb(17, 17, 17) 3px;
    padding: 18px;
}

.delete-form > input {
    background-color: black;
    color: white;
    font-weight: 500;
    padding: 3px;
}

.delete-form > input:hover {
    background-color: white;
    color: black;
}

.header-distance {
    margin-top: 30px;
}

.main-wrapper {
    min-height: 100%;
}

.inner-wrapper {
    padding: 20px;
    padding-bottom: 70px;
}

.footer {
    height: 50px;
    margin-top: -50px;
}

.navbar {
    padding-right: 60px;
    padding-left: 20px;
}

.nav-buttons > a {
    font-weight: 500;
    background-color: white;
    border: black 3px solid;
    color: black;
}

.nav-buttons > a:hover {
    background-color: black;
    color: white;
    border: white 3px solid;
}

.dropdown-menu {
    margin-right: 0;
    margin-left: auto;
}

.test-color {
    background-color:rgba(32, 31, 30, 0.823);
}

.bot-left {
    position: absolute;
    left: 30px; /* Small screens will be 20px */
    bottom: 0px;
}

.bot-left-postview {
    position: absolute;
    left: 18px; /* Small screens will be 15px */
    bottom: -5px;
}

.master-post {
    background-color: rgba(32, 31, 30, 0.323);
    color: black;
    border: black 2px solid;
}

.comment-btn {
    background-color: rgb(17, 17, 17);
    color: #fff;
    border: red 2px solid;
    margin-bottom: 15px;
}

.comment-btn:hover {
    background-color: rgba(17, 17, 17, 0.83);
    border: greenyellow 2px solid;
    color: #fff;
}

.comment {
    background-color: #3f3f3f;
    color: white;
    border: black 2px solid;
}

.shroud {
    background-color: rgba(0, 0, 0, 0.3);
}

#id_content_iframe {
    width: 40vw !important;
    height: 50vh !important;
}

.summernote-div {
    width: 40vw !important;
    height: 50vh !important;
}

.note-editing-area > .note-editable {
    width: 40vw !important;
    height: 50vh !important;
}

.note-editor.note-frame.panel.panel-default {
    width: auto !important;
    height: auto !important;
}

.size {
    width: auto !important;
    height: auto !important;
}