{% extends "base.html" %}

{% block content %}
<!-- Add post form -->
<div class="d-flex justify-content-center">
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
            <button class="btn btn-secondary btn-lg">Post</button>
        </form>
    </div>
</div>
<!-- Script to populate hidden author field -->
<script>
    var author_name = "{{ user.id }}";
    document.getElementById("author-id").value = author_name;
</script>

{% endblock content %}