{% extends "base.html" %}

{% block content %}
<!-- Add comment form -->
<div class="d-flex justify-content-center">
    <form method="POST" enctype="multipart/form-data" class="text-form">
        {% csrf_token %}
        {{ form.as_table }}
        <button class="btn btn-secondary btn-lg">Comment</button>
    </form>
</div>
<!-- Script to populate hidden fields -->
<script>
    // Populate author field
    var author_name = "{{ user.id }}";
    document.getElementById("author-id").value = author_name;
    // Populate post field
    const queryString = window.location.pathname;
    let value = queryString.match(/\d+/g);
    document.getElementById("post-id").value = parseFloat(value[0]); 
</script>

{% endblock content %}