{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}
            <button class="btn btn-secondary btn-lg">Comment</button>
            {% for comment in comment.all %}
            {{ comment.content }}
            {% endfor %}
        </form>
    </div>
</div>

<script>
    var author_name = "{{ user.id }}";
    document.getElementById("author-id").value = author_name;
    var post_id = "{{ post.id }}";
    console.log(post_id)
    document.getElementById("post-id").value = post_id;
</script>

{% endblock content %}