{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/89b5a43f30.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body style="margin: 80px;">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          {% if user.is_authenticated %}
          <div>
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <a class="navbar-brand" href="{% url 'account_logout' %}">Logout</a>
          </div>
            <a class="navbar-brand" href="{% url 'add-post' %}">
              <p class="mb-1 d-none d-md-inline text-white btn btn-secondary">Welcome {{ user.username }}! Wanna post something? Click me!</p>
            </a>
          {% else %}
          <div>
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <a class="navbar-brand" href="{% url 'account_login' %}">Login</a>
            <a class="navbar-brand" href="{% url 'account_signup' %}">Register</a>
          </div>
          <a class="navbar-brand" href="{% url 'account_signup' %}">
            <p class="mb-1 d-inline text-white btn btn-secondary">Sign up to post!</p>
          </a>
          {% endif %}
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Game Forums
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              {% for game in game_list %}
              <li><a class="dropdown-item" href="{% url 'postlist' game.name %}">{{ game.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
    <!-- Navbar /-->
    <!-- Content -->
    {% block content %}
    {% endblock content %}
    <!-- Content /-->
    <!-- Footer -->
    <footer class="footer fixed-bottom mt-auto py-3 bg-dark ">
      <div class="d-flex justify-content-around">
          <small class="text-white">©2021 KNASTEN</small>
          <div>
            <a href="https://github.com/Knasten" target="_blank" rel="noopener"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://www.twitch.tv/knastengaming" target="_blank" rel="noopener"><i class="fab fa-twitch fa-2x"></i></a>
          </div>
        </div>
    </footer>
    <!-- Footer /-->
</body>
</html>