{% extends "base.html" %}

{% block content %}
<!-- Content -->
<div class="container">
    <div class="headline row justify-content-center">
        <h3 class="text-center">Which forum do you wish to explore?</h3>
        <hr style="width: 50%;">
    </div>
    <div class="row row-sm-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for game in game_list %}
        <div class="col d-flex justify-content-center">
            <div class="card mt-3 bg-dark text-white" style="width: 18rem; height: 28rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ game.name }}</h5>
                    <hr>
                    <p class="card-text">{{ game.desc }}</p>
                    <a href="{% url 'postlist' game.name %}" class="stretched-link"></a>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <small class="text-white">{{ game.forum_posts.count }} <i class="far fa-sticky-note"></i></small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Content /-->
{% endblock content %}