{% extends "base.html" %}

{% block content %}
<!-- Original Post -->
<div class="container">
    <div class="card master-post mb-2">
        <div class="card-body p-2 p-sm-3">
            <h5 class="card-title mt-2">{{ post.title }}</h5>
            <small class="text-success">Main Post</small>
            {% if post.author_id == user.id %}
                <a class="text-decoration-none text-danger ms-3" href="{% url 'delete_post' post.id %}"><i class="far fa-trash-alt"></i></a>
                <p class="d-inline-block">|</p>
                <a class="text-decoration-none" href="{% url 'edit_post' post.id %}">Edit</a>
            {% endif %}
            <hr>
            {{ post.content|safe }}
            <p class="bot-left-postview small">{{ post.author|capfirst }} posted</p>
        </div>
        <form action="{% url 'post_like' post.id %}" method="POST" class="d-flex w-100 justify-content-end">
            {% csrf_token %}
            <button type="submit" name="post_id" value="{{ post.id }}"
                class="btn text-white"><small>{{ post.likes.count }} 
                {% if liked %}
                    <i class="fas fa-heart red"></i>
                {% else %}
                    <i class="fas fa-heart"></i>
                {% endif %}
            </small></button>
        </form>
        <div class="d-flex justify-content-end">
            <small class="me-2 mb-1">{{ post.created_on|date:"SHORT_DATE_FORMAT" }}</small>
        </div>
    </div>
    <!-- Comments Section -->
    <div class="row">
        <div class="col">
            <a href="{% url 'add_comment' post.id %}" class="comment-btn btn text-decoration-none mt-3">Comment</a>
        </div>
        <hr>
    </div>
    {% if not post.comments.all %}
        <p class="small mt-2">Nothing here.. Please leave a post</p>
    {% else %}
    {% for comment in post.comments.all %}
    <div class="card mb-2 comment mt-3">
        <div class="card-body p-2 p-sm-3">
            {{ comment.content|safe }}
            {% if comment.author_id == user.id %}
            <p class="small bot-left-postview"><strong>{{ comment.author|capfirst }} commented</strong></p>
            {% else %}
            <p class="small bot-left-postview">{{ comment.author|capfirst }} commented</p>
            {% endif %}
        </div>
        <div class="d-flex justify-content-end">
            <small class="me-3 mb-2">{{ comment.created_on|date:"SHORT_DATE_FORMAT" }}</small>
        </div>
    </div>
    {% endfor %}

{% endif %}
</div>
{% endblock content %}