{% extends "base.html" %}
{% block content %}


<!-- Contains all the posts -->
<div class="container">
  <div class="row align-items-start">
    <div class="card mb-2 bg-dark text-white">
      <div class="card-body p-2 p-sm-3">
        {% if user.is_authenticated %}
        <a class="stretched-link" href="{% url 'add-post' game.name %}">
          <p class="mb-1 d-inline text-white">Have anything to share? Feel free to click me.</p>
        </a>
        {% else %}
        <a class="stretched-link" href="{% url 'account_signup' %}">
          <p class="mb-1 d-inline text-white">To post you need an account. Click here to register!</p>
        </a>
        {% endif %}
      </div>
    </div>
    {% for post in posts %}
    <div class="card bg-dark text-white">
      <div class="card-body p-2 p-sm-3">
        <a href="{% url 'postview' post.id %}">
          <h5 class="card-title mt-2">{{ post.title }}</h5>
        </a>
        <hr>
        {{ post.content|safe }}
        {% if user.id == post.author.id %}
        <p class="owned d-inline-block">Posted By: {{ post.author }}</p>
        {% else %}
        <p>Posted By: {{ post.author }}</p>
        {% endif %}
      </div>
        <form action="{% url 'post_like' post.id %}" method="POST" class="d-flex w-100 justify-content-end">
          {% csrf_token %}
          <button type="submit" name="post_id" value="{{ post.id }}" class="btn text-white"><small>{{ post.likes.count }} <i class="fas fa-heart"></i></small></button>
        </form>
      <div class="d-flex justify-content-end">
        <small>Posted on: {{ post.created_on }}</small>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock content %}
