{% extends "base.html" %}
{% block content %}


<!-- Contains all the posts -->
<div class="container">
  <div class="row align-items-start">
    {{ game_list }}
    {% for post in posts %}
      <div class="row">
        <div class="card mb-2 bg-dark text-white">
          <div class="card-body p-2 p-sm-3">
                <h5 class="card-title mt-2">{{ post.title }}</h5>
                <hr>
                {{ post.content|safe }}
                <a href="{% url 'postview' post.id %}" class="stretched-link"></a>
                <p>Posted By: {{ post.author }}</p>
              </div>
              <div class="d-flex justify-content-end">
                <small>Posted on: {{ post.created_on }}</small>
              </div>
            </div>
      </div>
      {% endfor %}
  </div>
</div>


{% endblock content %}

